<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets async="true">
		<target name="file" xsi:type="File"
		        layout="${longdate} ${logger} ${message}${exception:format=ToString}"
		        fileName="${basedir}/logs/AppLog.${shortdate}.txt"
		        keepFileOpen="true"
		        maxArchiveFiles="4"
		        archiveAboveSize="10240"
		        archiveEvery="Day" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="file" />
	</rules>
</nlog>